@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@import "tailwindcss";
@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/breakpoints.css";

:root {
  --background: var(--color-gray-50);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nanumsquare);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nanumsquare);
}
